<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">CRUD Interface for a Post</h2>
          <form>
            <div class="form-group">
              <label>User ID:</label>
              <input name="userId" class="form-control" placeholder="User ID" type="text">
              <label>Title:</label>
              <input name="title" class="form-control" placeholder="User ID" type="text">
              <label>Body:</label>
              <textarea name="body" class="forms-control" placeholder="Body of a post"></textarea>
              <button type="submit" class="btn-block">Done</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
